{% extends 'base.html.twig' %}

{% block title %} BACKOFFICE {% endblock %}

{% block body %}

<h1 class="display-4 text-center my-4">BACKOFFICE</h1>

    <p class="text-center">Bienvenue sur votre BackOffice</p>

    <a href="{{ path('admin_sites_touristiques') }}" class="col-md-6 offset-md-3 btn btn-success p-3 mb-2">GESTION DES SITES TOURISTIQUES</a>

    <a href="{{ path('admin_category') }}" class="col-md-6 offset-md-3 btn btn-info p-3 mb-2">GESTION DE LAS CATEGORIES</a>

    <a href="" class="col-md-6 offset-md-3 btn btn-primary p-3 mb-2">GESTION DES MEMBRES</a>

    <a href="{{ path('admin_comments') }}" class="col-md-6 offset-md-3 btn btn-warning p-3 mb-2">GESTION DES COMMENTAIRES</a>


{% endblock %}
