{% extends 'base.html.twig' %}

{% block title %}authentikFrance{% endblock %}

{% block body %}

        <div class=" mx-auto"><center><h1>Bienvenue chez nous... 
            </center></h1></div>
          
            <center> <strong><div class="alert alert-danger" role="alert">
                Bienvenue chez vous !
            </div> #Restons solidaires</center></strong></div>
                <center><audio src="audio/Charles Trenet - Douce France.mp3" controls="Charles Trenet - Douce France.mp3" autoplay> </audio></center>
              </strong></center>
    

<!-- Nuage de mots -->
     <div class="container-fluid">
        <img src="{{ asset('image/nuage_de_mots.png') }}" alt="#" class="img-responsive align float-auto img-nuage">
    </div>

<span><a class="btn btn-primary btn-lg bouton text-align-center my-4" href="#" role="button" class="col-md-2 text-center"><strong>Visiter</a></strong></span> 
                   
<div class="px-auto">
    <img src="image/covid_departement.jpg">
</div>

    <div classe="container">                 
           <div class="text-align-center md-auto">
                   <div class="row">
    
                    <p>La solution authentikFrance porte des services et un tourisme basé sur le respect,
            {% autoescape  %}fait de rencontres et d'échanges avec les locaux,{% endautoescape %} {% autoescape  %}les savoir-faire artisanaux et les cultures inter et intra-départementaux de France.{% endautoescape %}</p>
            <p>Profitons du confinement pour se (re)connecter et (re)découvrir notre pays.</p>
    {% autoescape  %}<p>La plateforme authentikFrance anime et accompagne le réseau des acteurs locaux gratuitement.</p>{% endautoescape %}
     
    </div>
            </div>
                    </div>

</body>

</html>

{% endblock %}